/* stylelint-disable max-line-length */

/*
 * Lupin brand fonts are licensed and served from www.lupin.com (CORS enabled);
 * they are referenced here rather than copied into the repository.
 * Only .woff is used: the .woff2 files on the source server are not valid woff2.
 */
@font-face {
  font-family: helvetica-black;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.lupin.com/US/fonts/helvetica/black/Helvetica_LT_Std_Black.woff') format('woff');
}

@font-face {
  font-family: swiss-roman;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.lupin.com/US/fonts/swissRoman/swissRoman.woff') format('woff');
}
